<h1>Listing albumms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albumms.each do |albumm| %>
  <tr>
    <td><%= albumm.name %></td>
    <td><%= albumm.description %></td>
    <td><%= link_to 'Show', albumm %></td>
    <td><%= link_to 'Edit', edit_albumm_path(albumm) %></td>
    <td><%= link_to 'Destroy', albumm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Albumm', new_albumm_path %>
